.article {
    width: 100%;
    position: relative;
    z-index: 2;
    background: var(--bg-dark);
    padding: 50px 100px 101px;

    @media (max-width:1100px) {
        padding: 57px 50px 100px 50px;
    }

    @media (max-width:980px) {
        padding: 57px 15px 100px 15px;
        margin: 0 auto 0;
    }

    @media (max-width:590px) {
        padding: 30px 15px 100px 15px;
    }



    ul {

        &:first-child {
            list-style: none;
            margin-bottom: 45px;
            margin-left: 10px;

            @media (max-width:590px) {
                margin-bottom: 30px;
                margin-left: 0;
            }
        }

        list-style: disc;
        margin-bottom: 30px;
    }

    ul,
    ol {
        margin-left: 20px;
    }

    .table {
        width: 100%;
        max-width: 1040px;
        margin: 50px auto;
        border-collapse: collapse;
        border-spacing: 0;
        align-items: center;

        &:last-child {
            margin-bottom: 0;
        }
    }

    tbody {

        tr {
            border-top: 1px solid var(--color-primary);
            display: grid;
            grid-template: auto/repeat(4, 1fr);
            align-items: center;

            &:last-child {
                border-bottom: 1px solid var(--color-primary);
            }
        }

        td {
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            text-align: center;
            padding: 20px 0;



            &:first-child {
                text-align: left;
                padding-left: 20px;

                @media (max-width:768px) {
                    padding: 20px 0 20px 0;
                }
            }

            &:last-child {
                text-align: right;
                padding-right: 24px;

                @media (max-width:768px) {
                    padding: 20px 0 20px 0;
                }
            }

            @media (max-width: 510px) {
                font-size: 13px;
            }
        }
    }

    .tab-2 tbody tr {
        grid-template: auto/repeat(3, 1fr);


    }

    .tab-3 tbody tr {
        grid-template: auto/repeat(2, 1fr);
    }

    .tab-1 {
        tbody tr {

            @media (max-width:850px) {
                grid-template: auto/repeat(2, 1fr);

                td:nth-child(odd) {
                    text-align: left;
                    padding: 20px 0 20px 0;
                }

                td:nth-child(even) {
                    text-align: right;
                    padding: 20px 0 20px 0;
                }

            }

        }
    }
}